<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1> Welcome </h1>
		<%= link_to("Invitations", control_panel_user_invitations_url(current_user)) %>
  </body>
</html>