<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1> Welcome </h1>
		<%= link_to 'register', new_user_registration_url(token: @token) %>
  </body>
</html>
